<h1>Master Start Years</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_start_years.each do |master_start_year| %>
      <tr>
        <td><%= link_to 'Show', master_start_year %></td>
        <td><%= link_to 'Edit', edit_master_start_year_path(master_start_year) %></td>
        <td><%= link_to 'Destroy', master_start_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master Start Year', new_master_start_year_path %>
